.workCard img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.worksList::-webkit-scrollbar {
  width: 6px;
}
.worksList::-webkit-scrollbar-track {
  background: #f1f5f9; /* Tailwind gray-100 */
}
.worksList::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Tailwind slate-400 */
  border-radius: 10px;
}
